.landing-view {
  min-height: 100vh;
}

.clear-landing-view {
  display: none;
}

.clear-sober-picker-view {
  display: none;
}

.sober-picker-view {
  min-height: 100vh;
  padding-top: 45px;
}

.sober-picker-box {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin-top: 35px;
  margin: auto;
  width: 80%;
  min-height: 40%;
}

.sober-date {
  border: 0px;
}